<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=divice-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie-edge")

        link(rel="stylesheet", href="styles/bundle.min.css")

        title Vanila Boilerplate

    body
        script(src="scripts/bundle.min.js")
